<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if is_admin? || is_superior_of?(@user) %>
  <div class="field form-group">
    <%= f.label "Rôle" %><br>
    <%= f.select(:role, max_roles_assignable) %>
  </div>
  <% end %>
  <div class="field form-group">
    <%= f.email_field :email, placeholder: "Email", class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label "Mot de passe" %><br />
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label "Confirmation du mot de passe" %><br />
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.text_field :user_name, placeholder: "Pseudo", class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.text_field :first_name, placeholder: "Prénom", class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.text_field :last_name, placeholder: "Nom", class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.text_field :city, placeholder: "Ville", class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label "Date de naissance" %><br>
    <%= f.date_select :birth_date, :start_year => (Date.today.year - 70), :end_year => Date.today.year %>
  </div>
  <div class="field form-group">
    <%= f.url_field :personal_link, placeholder: "Lien personnel", class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.text_field :batch, placeholder: "Promotion HETIC", class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.text_area :short_bio, placeholder: "Biographie", class: "form-control" %>
  </div>
  <div class="actions">
    <%= submit_tag "Valider", class: "btn btn-primary" %>
  </div>
<% end %>
