<h1>Liste des utilisateurs</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Email</th>
      <th>Pseudo</th>
      <th>Date de naissance</th>
      <th>Promotion</th>
      <th>Description</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.user_name %></td>
        <td><%= user.birth_date.strftime("%d/%m/%Y") %></td>
        <td><%= user.batch %></td>
        <td><%= user.short_bio %></td>
        <td><%= link_to 'Voir', user, :class => "btn btn-primary" %></td>
        <% if is_own_account(user) || is_superior_of?(user) %>
          <td><%= link_to 'Modifier', edit_user_path(user), :class => "btn btn-warning" %></td>
          <td><%= link_to 'Supprimer', user, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
        <% else %>
          <td colspan="2"></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if is_connected? && is_moderator? %>
  <%= link_to 'Créer un nouvel utilisateur', new_user_path, :class => "btn btn-primary" %>
<% end %>
