<div id="bandeauUser">
  <h1><%= @user.user_name %></h1>
  <h2 style="color:<%= color_avatar(@user) %>;"><%= "#{@user.first_name} #{@user.last_name}" %>
    <span><%= @user.batch %></span>
  </h2>
  <div style=""><%= @user.email %></div>
  <div style=""><%= @user.city %></div>
  <div style="">  <%= @user.birth_date.strftime("Le %d/%m/%Y") %></div>
  <div id="bigCover" style="border: 5px solid <%= color_avatar(@user) %>;">
    <% if @user.avatar.empty? %>
      <%= image_tag(full_url_for({email:@user.email, size:"190"})) %>
    <% else %>
      <%= image_tag(@user.avatar) %>
    <% end %>
  </div>
  <div id="half"></div>
  <div id="back"></div>
  <%= image_tag "http://www.hetic.net/sites/default/files/social-pic/hetic-grande-ecole-web.jpg" , style:"margin-top:-202px; margin-left:210px;" %>
</div>
<div class="infoUser">
  <p>
    <% if is_own_account(@user) || is_superior_of?(@user) %>
      <%= link_to 'Modifier', edit_user_path(@user.slug) %> |
    <% end %>
    <%= link_to 'Retour', users_path %>
  </p>
  <p>
    <strong>Biographie:</strong>
    <%= @user.short_bio %>
  </p>
  <br><br><br>
  <% if @courses_given.length > 0 %>
    <p>
      <strong>Cours donnés:</strong>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Titre</th>
            <th>Date</th>
            <th>Niveau</th>
            <th></th>
          </tr>
        </thead>
        <% @courses_given.each do |course| %>
        <tr>
          <td><%= course.title %></td>
          <td><%= course.date.strftime("%d/%m/%Y, %H:%M") %></td>
          <td><%= course.level %></td>
          <td><%= link_to 'Voir', course_path(course.slug), :class => "btn btn-primary" %></td>
        </tr>
        <% end %>
      </table>
    </p>
  <% end %>
  <% if @courses_seen.length > 0 %>
    <p>
      <strong>Cours vus:</strong>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Titre</th>
            <th>Date</th>
            <th>Niveau</th>
            <th></th>
          </tr>
        </thead>
        <% @courses_seen.each do |course| %>
        <tr>
          <td><%= course.title %></td>
          <td><%= course.date.strftime("%d/%m/%Y, %H:%M") %></td>
          <td><%= course.level %></td>
          <td><%= link_to 'Voir', course_path(course.slug), :class => "btn btn-primary" %></td>
        </tr>
        <% end %>
      </table>
    </p>
  <% end %>
</div>
