<h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>

<p>
  <% if is_own_account(@user) || is_superior_of?(@user) %>
    <%= link_to 'Modifier', edit_user_path(@user.slug) %> |
  <% end %>
  <%= link_to 'Retour', users_path %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Pseudo:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>Prénom:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Ville:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>Date de naissance:</strong>
  <%= @user.birth_date.strftime("Le %d/%m/%Y") %>
</p>

<p>
  <strong>Biographie:</strong>
  <%= @user.short_bio %>
</p>

<% if @courses_given.length > 0 %>
<p>
  <strong>Cours donnés:</strong>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Titre</th>
        <th>Date</th>
        <th>Niveau</th>
        <th></th>
      </tr>
    </thead>
    <% @courses_given.each do |course| %>
    <tr>
      <td><%= course.title %></td>
      <td><%= course.date.strftime("%d/%m/%Y, %H:%M") %></td>
      <td><%= course.level %></td>
      <td><%= link_to 'Voir', course_path(course.slug), :class => "btn btn-primary" %></td>
    </tr>
    <% end %>
  </table>
</p>
<% end %>

<% if @courses_seen.length > 0 %>
<p>
  <strong>Cours vus:</strong>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Titre</th>
        <th>Date</th>
        <th>Niveau</th>
        <th></th>
      </tr>
    </thead>
    <% @courses_seen.each do |course| %>
    <tr>
      <td><%= course.title %></td>
      <td><%= course.date.strftime("%d/%m/%Y, %H:%M") %></td>
      <td><%= course.level %></td>
      <td><%= link_to 'Voir', course_path(course.slug), :class => "btn btn-primary" %></td>
    </tr>
    <% end %>
  </table>
</p>
<% end %>
