<h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>

<p>
  <% if is_own_account(@user) || is_superior_of?(@user) %>
    <%= link_to 'Modifier', edit_user_path(@user) %> |
  <% end %>
  <%= link_to 'Retour', users_path %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Pseudo:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>Prénom:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Ville:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>Date de naissance:</strong>
  <%= @user.birth_date.strftime("Le %d/%m/%Y") %>
</p>

<p>
  <strong>Biographie:</strong>
  <%= @user.short_bio %>
</p>
