<%= form_tag user_sessions_path, :method => :post do %>
<div class="field form-group">
  <%= label_tag "Adresse email" %><br />
  <%= text_field_tag :email, nil, class: "form-control" %>
</div>
<div class="field form-group">
  <%= label_tag "Mot de passe" %><br />
  <%= password_field_tag :password, nil, class: "form-control" %>
</div>
<div class="actions">
  <%= submit_tag "Login", class: "btn btn-primary" %>
</div>
<% end %>
