<div class="example-wrapper">
  <div class="tags well">
    <%= render 'search' %>
    <div class="clear"></div>
    <div class="classificationSearch">
      <%= link_to "Tags", tags_path %>
      <span class="badge"><%= Tag.count %></span>
      <%= link_to "Catégories", categories_path %>
      <span class="badge"><%= Categorie.count %></span>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div>
  <div class="row">
    <% @courses.each do |course| %>
    <div class="col-sm-5 col-md-3">
      <div class="thumbnail">
        <div class="item">
          <% if course.image_link.empty? %>
          <!-- Default course image -->
          <%= image_tag "http://commons.studyrama.com/data/bc2e/14130/logo_298x175.png" %>
          <% else %>
          <%= image_tag course.image_link %>
          <% end %>
        </div>
        <div class="caption">
          <h3><%= course.title %></h3>
          <div class="infoCourse">
            <p>Le <%= course.date.strftime("%d/%m/%Y, %H:%M") %></p>
            Niveau: <%= course.level %><br>
            <p>Par: <%= "#{course.users[0].first_name} #{course.users[0].last_name}" %></p>
          </div>
          <div class="interactionCourse">
            <p>
              <%= link_to 'Voir', course_path(course.slug), :class => "btn btn-primary" %>
              <% if is_moderator? || belongs_to_current_user(course) %>
              <%= link_to 'Modifier', edit_course_path(course.slug), :class => "btn btn-warning" %>
              <%= link_to 'Supprimer', course_path(course.slug), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  
