<h1>Liste des tags</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nom</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td>
          <%= tag.name %>&nbsp;
          <% if @tags_count[tag.id].present? %>
          <span class="badge"><%= @tags_count[tag.id] %> cours</span>
          <% end %>
        </td>
        <td><%= link_to 'Voir', tag, :class => "btn btn-primary" %></td>
        <% if is_connected? && is_moderator? %>
          <td><%= link_to 'Modifier', edit_tag_path(tag), :class => "btn btn-warning" %></td>
          <td><%= link_to 'Supprimer', tag, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
        <% else %>
          <td colspan="2"></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if is_connected? && is_moderator? %>
  <%= link_to 'Créer un nouveau tag', new_tag_path, :class => "btn btn-primary" %>
<% end %>
