<h1><%= @tag.name %></h1>

<p>
  <% if is_connected? && is_moderator? %>
    <%= link_to 'Edit', edit_tag_path(@tag) %> |
  <% end %>
  <%= link_to 'Back', tags_path %>
</p>

<% unless @courses.empty? %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Auteur</th>
      <th>Difficulté</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
    <tr>
      <td><%= course.title %></td>
      <td><%= course.date.strftime("%d/%m/%Y, %H:%M") %></td>
      <td><%= "#{course.users[0].first_name} #{course.users[0].last_name}" %></td>
      <td><%= course.level %></td>
      <td><%= link_to 'Voir', course_path(course.slug), :class => "btn btn-primary" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p>
    Pas de cours associés au tag <%= @tag.name %>
  </p>
<% end %>
