<%= form_for(*@parameters) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.text_field :title, placeholder: 'Titre' %>
  </div>

  <div class="field form-group">
    <%= f.text_field :level, placeholder: 'Niveau' %>
  </div>

  <div class="field form-group">
    <%= f.text_field :location, placeholder: 'Lieu' %>
  </div>

  <div class="field form-group">
    <%= f.url_field :video_link, placeholder: 'Lien vidéo' %>
  </div>

  <div class="field form-group">
    <%= f.url_field :slideshare_link, placeholder: 'Lien Slideshare' %>
  </div>

  <div class="field form-group">
    <%= f.url_field :image_link, placeholder: 'Lien image' %>
  </div>

  <div class="field form-group">
    <%= f.text_field :duration, placeholder: 'Durée' %> mn
  </div>

  <div class="field form-group">
    <%= f.label "Catégorie" %><br>
    <%= f.select(:categorie_id, Categorie.all.order(:name).collect {|p| [ p.name, p.id ] }) %>
  </div>

  <div class="field form-group">
    <%= f.label "Tags" %><br>
    <%= f.select(:tags, Tag.all.order(:name).collect {|t| [ t.name, t.name ] }, {}, { :multiple => true, :size => 3 }) %>
  </div>

  <div class="field form-group">
    <%= f.text_area :description, placeholder: 'Description' %>
  </div>

  <div class="field form-group">
    <%= f.label :date %><br>
    <%= f.datetime_select :date, :ampm => false, :minute_step => 15 %>
  </div>

  <div class="actions">
    <%= submit_tag "Valider", class: "btn btn-primary" %>
  </div>
<% end %>
