<% @courses.each do |course| %>
    <div class="vignette">
        <div>
            <% if course.image_link.empty? %>
                <img src="http://commons.studyrama.com/data/bc2e/14130/logo_298x175.png"></img>
            <% else %>
                <img src="<%= course.image_link %>"></img>
            <% end %>
        </div>
        <div>
            <h2><%= link_to course.title, course %></h2>
            <h3><%= course.date.strftime("%d/%m/%Y, %H:%M") %></h3>
            <p>Par:
            <%= link_to "#{course.users[0].first_name} #{course.users[0].last_name}", user_path(course.users[0])%>
            </p>
            <p>Difficulté: <%= course.level %> / Emplacement: <%= course.location %></p>
            <p class="description">Description: <%= course.description %></p>
            <%= link_to 'Voir', course%>
            <%= link_to 'Modifier', edit_course_path(course)%>
            <%= link_to 'Supprimer', course, method: :delete, data: { confirm: 'Are you sure?' }%>
        </div>
    </div>
<% end %>
