<div id="bandeau" style="">
  <h1 style=""><%= @course.title %></h1>
  <h2 style=""><%= @course.location %>
    <span style=""><%= @course.date.strftime("Le %d/%m/%Y à %H:%M") %></span>
  </h2>
  <div style=""><%= @course.level %></div>
  <div style=""><%= @course.duration %> mn</div>
  <div style="">
    <% if !belongs_to_current_user(@course) && not_participating(@course) %>
      <%= link_to 'Participer', participation_index_path(:course_id => @course.id), method: :post, :class => "btn btn-primary" %>
    <% elsif !belongs_to_current_user(@course) && is_connected? %>
      <%= link_to 'Ne plus participer', participation_path, method: :delete, :class => "btn btn-warning" %>
    <% end %>
  </div>
  <div style="">
    <% if @course.image_link.empty? %>
      <%= image_tag "http://www.planetecampus.com/wp-content/files_flutter/1330619387LOGOHETIC.png",class:"courseDefaultImg" %>
    <% else %>
      <%= image_tag @course.image_link, class:"courseImg" %>
    <% end %>
  </div>
  <div id="half" style=""></div>
  <div id="back" style=""></div>
  <%= image_tag "http://www.hetic.net/sites/default/files/social-pic/hetic-grande-ecole-web.jpg" ,class:"backBandeau" %>
</div>
<% @contributors.each_with_index do |user, index| %>
  <div id="cover" style="border: 4px solid <%= color_avatar(user) %>;">
    <% if user.avatar.empty? %>
      <%= image_tag(full_url_for({email:user.email, size:"112"}),class:"bigDefaultAvatarImg") %>
    <% else %>
      <%= image_tag(user.avatar, class: "bigAvatarImg") %>
      <% end %>
  </div>
  <span>  <%= link_to "#{user.first_name} #{user.last_name} (#{user.batch})", user_path(user.slug) %></span>
  <% if index < (@contributors.length - 1)  %>,
  <% end %>
<% end %>
<p id="navigation">
  <% if belongs_to_current_user(@course) || is_moderator? %>
    <%= link_to 'Modifier', edit_course_path(@course.slug) %> |
  <% end %>
  <%= link_to 'Toutes les cours.', courses_path %>
</p>
<div class="classification" style="">
  <strong>Catégorie:</strong> <%= link_to @course.categorie.name, category_path(@course.categorie.id) %>
  <strong>Tags:</strong>
  <% @course.tags.each_with_index do |tag, index| %>
  <%= link_to tag.name, tag_path(tag.id) %>
  <% if index < (@course.tags.length - 1)  %>, <% end %>
  <% end %>
  <p>
    <%= @course.description %>
  </p>
</div>
<div id="participant">
<% if @participants.length > 0 %>
<p>
  <strong>Participants:</strong>
  <ul>
    <% @participants.each do |participation| %>
    <li style="">
      <a href="<%= user_path(participation.user.slug) %>">
        <div  style="border: 3px solid <%= color_avatar(participation) %>;">
          <% if participation.avatar.empty? %>
            <%= image_tag(full_url_for({email:participation.email, size:"94"}),
              class:"smallDefaultAvatarImg",
                title: participation.user.user_name) %>
          <% else %>
            <%= image_tag(participation.avatar,class:"smallAvatarImg", title: participation.user.user_name) %>
          <% end %>
        </div>
      </a>
    </li>
    <% end %>
  </ul>
</p>
<% end %>
</div>
<div>
<div class="embed">
  <!-- Youtube iframe -->
  <iframe width="560" height="355" src="<%= @course.video_link %>" frameborder="0" allowfullscreen></iframe>
  <!-- Slideshare iframe -->
  <iframe id="iframe-slideshare" src="" width="425" height="355" frameborder="0" scrolling="no"
  allowfullscreen data-slideshare-url="<%= @course.slideshare_link %>"></iframe>
</div>
<div>
