<h1><%= @course.title %>
<% if !belongs_to_current_user(@course) && not_participating(@course) %>
  <%= link_to 'Participer', participation_index_path(:course_id => @course.id), method: :post, :class => "btn btn-primary" %>
<% elsif !belongs_to_current_user(@course) && is_connected? %>
  <%= link_to 'Ne plus participer', participation_path, method: :delete, :class => "btn btn-warning" %>
<% end %>
</h1>

<% if @course.image_link.empty? %>
  <!-- Default course image -->
  <%= image_tag "http://commons.studyrama.com/data/bc2e/14130/logo_298x175.png", style: "max-width:255px;" %>
<% else %>
  <%= image_tag @course.image_link, style: "max-width:255px;" %>
<% end %>

<p>
  <% if belongs_to_current_user(@course) || is_moderator? %>
    <%= link_to 'Modifier', edit_course_path(@course.slug) %> |
  <% end %>
  <%= link_to 'Toutes les cours.', courses_path %>
</p>

<div>
  <span>
    <strong>Par</strong>
    <% @contributors.each_with_index do |user, index| %>
      <%= link_to "#{user.first_name} #{user.last_name} (#{user.batch})", user_path(user.slug) %>
      <% if index < (@contributors.length - 1)  %>, <% end %>
    <% end %>
  </span>
</div>

<div>
  <strong>Date:</strong> <%= @course.date.strftime("Le %d/%m/%Y à %H:%M") %>
</div>

<div>
  <strong>Durée:</strong> <%= @course.duration %> mn
</div>

<div>
  <strong>Lieu:</strong> <%= @course.location %>
</div>

<div>
  <strong>Catégorie:</strong> <%= link_to @course.categorie.name, category_path(@course.categorie.id) %>
</div>

<div>
  <strong>Tags:</strong>
  <% @course.tags.each_with_index do |tag, index| %>
  <%= link_to tag.name, tag_path(tag.id) %>
    <% if index < (@course.tags.length - 1)  %>, <% end %>
  <% end %>
</div>

<p>
  <%= @course.description %>
</p>

<% if @participants.length > 0 %>
<p>
  <strong>Participants:</strong>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Participant</th>
        <th>Pseudo</th>
        <th></th>
      </tr>
    </thead>
    <% @participants.each do |participation| %>
    <tr>
      <td><%= "#{participation.user.first_name} #{participation.user.last_name}"%></td>
      <td><%= participation.user.user_name %></td>
      <td><%= link_to 'Voir', user_path(participation.user.slug), :class => "btn btn-primary" %></td>
    </tr>
    <% end %>
  </table>
</p>
<% end %>

<div>
  Slideshare: <%= @course.slideshare_link %>
  <input type="hidden" id="slideshare_url" value="<%= @course.slideshare_link %>">
  <iframe id="iframe-slideshare" src=""
   width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"
   style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"
   allowfullscreen></iframe>
</div>

<div>
  <iframe width="560" height="315" src="<%= @course.video_link %>" frameborder="0" allowfullscreen></iframe>
  Vidéo: <%= @course.video_link %>
</div>
