
<h1><%= @course.title %></h1>

<p>
  <% if belongs_to_current_user(@course) || is_moderator? %>
    <%= link_to 'Modifier', edit_course_path(@course) %> |
  <% end %>
  <%= link_to 'Précécent', courses_path %>
</p>

<div>
  <span>
    Par
    <% @course.users.each_with_index do |user, index| %>
      <%= link_to "#{user.first_name} #{user.last_name} (#{user.batch})", user_path(user.id) %>
      <% if index < (@course.users.length - 1)  %>, <% end %>
    <% end %>
  </span>
</div>

<div>
  Date: <%= @course.date.strftime("Le %d/%m/%Y à %H:%M") %>
</div>

<div>
  Durée: <%= @course.duration %> mn
</div>

<div>
  Lieu: <%= @course.location %>
</div>

<div>
  Catégorie: <%= link_to @course.categorie.name, category_path(@course.categorie.id) %>
</div>

<div>
  Tags:
  <% @course.tags.each_with_index do |tag, index| %>
  <%= link_to tag.name, tag_path(tag.id) %>
    <% if index < (@course.tags.length - 1)  %>, <% end %>
  <% end %>
</div>

<p>
  <%= @course.description %>
</p>

<% if !belongs_to_current_user(@course) %>
<p>
  <br>
  <%= link_to 'Participer', new_participation_path, :class => "btn btn-primary" %>
</p>
<% end %>
