
<% if @course.image_link.empty? %>
<!-- Default course image -->
<%= image_tag "http://commons.studyrama.com/data/bc2e/14130/logo_298x175.png", style: "max-width:255px;" %>
<% else %>
<%= image_tag @course.image_link, style: "max-width:255px;" %>
<% end %>
<h1><%= @course.title %></h1>


<p>
  <% if belongs_to_current_user(@course) || is_moderator? %>
    <%= link_to 'Modifier', edit_course_path(@course) %> |
  <% end %>
  <%= link_to 'Toutes les courses.', courses_path %>
</p>

<div>
  <span>
    Par
    <% @course.users.each_with_index do |user, index| %>
      <%= link_to "#{user.first_name} #{user.last_name} (#{user.batch})", user_path(user.id) %>
      <% if index < (@course.users.length - 1)  %>, <% end %>
    <% end %>
  </span>
</div>

<div>
  Date: <%= @course.date.strftime("Le %d/%m/%Y à %H:%M") %>
</div>

<div>
  Durée: <%= @course.duration %> mn
</div>

<div>
  Lieu: <%= @course.location %>
</div>

<div>
  Catégorie: <%= link_to @course.categorie.name, category_path(@course.categorie.id) %>
</div>

<div>
  Tags:
  <% @course.tags.each_with_index do |tag, index| %>
  <%= link_to tag.name, tag_path(tag.id) %>
    <% if index < (@course.tags.length - 1)  %>, <% end %>
  <% end %>
</div>

<p>
  <%= @course.description %>
</p>

<div>
  Lieu: <%= @course.slideshare_link %>
  <iframe src="//www.slideshare.net/slideshow/embed_code/42370452"
   width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"
   style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"
   allowfullscreen> </iframe>
   <!-- <div style="margin-bottom:5px"> <strong>
     <a href="//fr.slideshare.net/SlideShop.com/where-is-rosetta" title="Where Is Rosetta? " target="_blank">
       Where Is Rosetta?
       </a> </strong> from
        <strong><a href="//www.slideshare.net/SlideShop.com" target="_blank">SlideShop.com</a></strong> </div> -->


</div>

<div>
  <iframe width="560" height="315" src="<%= @course.video_link %>" frameborder="0" allowfullscreen></iframe>
  Lieu: <%= @course.video_link %>
</div>

<script>


// var miste= new showSingle();

</script>
