<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.text_field :name, placeholder: 'Nom de la catégorie' %>
  </div>

  <div class="actions">
    <%= submit_tag "Valider", class: "btn btn-primary" %>
  </div>
<% end %>
