<!DOCTYPE html>
<html>
  <head>
    <title>Test Sorcery</title>
    <%= stylesheet_link_tag    "bootstrap.min" %>
    <%= javascript_include_tag "bootstrap.min" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to "Hetic courses", root_path, :class => "navbar-brand" %>
        </div>
        <div class="collapse navbar-collapse">
          <% if current_user %>
            <p class="navbar-text navbar-left">
              <%= link_to "Cours", root_path, :class => "navbar-link" %>
            </p>
            <p class="navbar-text navbar-left">
              <%= link_to "Utilisateurs", users_path, :class => "navbar-link" %>
            </p>
            <p class="navbar-text navbar-right">
              <%= link_to "Mon profil", edit_user_path(current_user.id), :class => "navbar-link" %>
            </p>
            <p class="navbar-text navbar-right">
              <%= link_to "Déconnexion", :logout, method: :post, :class => "navbar-link" %>
            </p>
          <% else %>
            <p class="navbar-text navbar-right">
              <%= link_to "Inscription", new_user_path, :class => "navbar-link" %>
            </p>
            <p class="navbar-text navbar-right">
              <%= link_to "Connexion", :login, :class => "navbar-link" %>
            </p>
          <% end %>
        </div>
      </div>
    </nav>

    <div class="container">
      <div>
        <% if flash[:notice].present? %>
          <p id="notice" class="alert alert-success"><%= flash[:notice] %></p>
        <% end %>
        <% if flash[:alert].present? %>
          <p id="alert" class="alert alert-danger"><%= flash[:alert] %></p>
        <% end %>
      </div>

      <%= yield %>
    </div>

  </body>
</html>
