<!DOCTYPE html>
<html>
  <head>
    <title>Hétic Courses</title>
    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "bootstrap.min" %>
    <%= javascript_include_tag "bootstrap.min" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="left">
      <!-- <h1>Hétic Courses</h1> -->
          <h1><%= link_to "Hetic courses", root_path %></h1>
          <ul>
              <% if current_user %>
                  <li>
                      <%= link_to "#{current_user.first_name} #{current_user.last_name}", edit_user_path(current_user.id), :class => "navbar-link" %>  /
                      <%= link_to "Déconnexion", :logout, method: :post, :class => "navbar-link" %>
                  </li>
                  <li>
                      <%= link_to "Cours", root_path, :class => "navbar-link" %>
                  </li>
                  <li>
                      <%= link_to "Utilisateurs", users_path, :class => "navbar-link" %>
                  </li>
              <% else %>
                  <li>
                      <%= link_to "Inscription", new_user_path, :class => "navbar-link" %>
                      <%= link_to "Connexion", :login, :class => "navbar-link" %>
                  </li>
              <% end %>
          </ul>
              <%= link_to 'Créer un nouveau cours', new_course_path, :class => "btn btn-primary" %>
      </div>
          <% if flash[:notice].present? %>
              <p id="notice" class="alert alert-success"><%= flash[:notice] %></p>
          <% end %>
          <% if flash[:alert].present? %>
              <p id="alert" class="alert alert-danger"><%= flash[:alert] %></p>
          <% end %>
      <div class="right">
          <div id="content">
              <%= yield %>
          </div>
      </div>
  </body>
</html>
