<!DOCTYPE html>
<html>
  <head>
    <title>Hétic Courses</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <h1>Hétic Courses</h1>
    </header>


    <div id="nav">
      <% if current_user %>
      <%= link_to "Edit Profile", edit_user_path(current_user.id) %>
      <%= link_to "Logout", :logout, method: :post %>
      <% else %>
      <%= link_to "Register", new_user_path %> |
      <%= link_to "Login", :login %>
      <% end %>
    </div>
    <div>
      <p id="notice"><%= flash[:notice] %></p>
      <p id="alert"><%= flash[:alert] %></p>
    </div>
    <div id="content">


    <%= yield %>
  </div>
    <div class="clear"></div>
    <footer>
      <p>
        P2016 Hétic.
      </p>
    </footer>

  </body>
</html>
